
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action="/bookmarks" method='post'>
<input type="text" name='url'></input>
<input type = "submit" value= "Add Bookmark"></input>
</form>
